.btn {
  &,
  &:link,
  &:visited {
    margin-top: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    text-align: center;
    border-radius: 10rem;
    transition: all 0.4s;
    position: relative;
    font-size: $default-font-size;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    /* **Note** imp-: In CSS THE Y-AXIS move from top to bottom */
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.2) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.8);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    //opacity: 0;
  }

  &--animated {
    animation: moveInBottom 0.4s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn {
  &-txt {
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all 0.2s ease-out;

      @include respond(tab-port) {
        padding: 2px;
        font-size: 1rem;
      }
      @include respond(phone) {
        padding: 1px;
        font-size: 0.5rem;
      }
    }
    &:hover {
      color: $color-white;
      background-color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-1px);
      @include respond(tab-port) {
        padding: 2px;
        font-size: 1rem;
      }
      @include respond(phone) {
        padding: 1px;
        font-size: 0.5rem;
      }
    }
    &:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
      @include respond(tab-port) {
        padding: 2px;
        font-size: 1rem;
      }
      @include respond(phone) {
        padding: 1px;
        font-size: 0.5rem;
      }
    }
  }
}

// .btn--wifx{
// overflow: hidden;
// }
